<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<h1 class="textcenter mdl-cell mdl-cell--8-col">Claudios Twittadd</h1>
	<div class="mdl-cell mdl-cell--2-col"></div>

	<!--<h2 class="mdl"-->
	{{#if twitter.isAuthenticated}}
		<div class="mdl-cell mdl-cell--1-col"></div>
		<h3 class="textcenter mdl-cell mdl-cell--10-col">Hey {{twitter.user.name}} which accounts do you want to follow?</h3>
		<div class="mdl-cell mdl-cell--1-col"></div>

		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--8-col">
			{{mdl-textarea label="Twitter Accounts" value=twittAccounts class="txtarea-accounts"}}
		</div>
		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--8-col">
			{{mdl-button text="Do Magic" action="checkAccounts"}}
		</div>
		<div class="mdl-cell mdl-cell--2-col"></div>

		{{#if hasTwittAccountInfos}}
			<div class="mdl-cell mdl-cell--1-col"></div>
			<h3 class="textcenter mdl-cell mdl-cell--10-col">Found {{twittAccountInfos.length}} Twitter Profiles</h3>
			<div class="mdl-cell mdl-cell--1-col"></div>
		{{/if}}
		{{#each twittAccountInfos as |account| }}
			<div class="mdl-cell mdl-cell--1-col"></div>
			<div class="mdl-cell mdl-cell--4-col twitter-profiles">
				{{ twitter-profile profile=account action="handleProfile"}}
			</div>
			<div class="mdl-cell mdl-cell--1-col"></div>
		{{/each}}




		{{outlet}}
	{{else}}
		<div class="mdl-cell mdl-cell--12-col">
			{{mdl-button text="Login with Twitter" action="authenticate"}}
		</div>
	{{/if}}
</div>


{{#if twitter.isAuthenticated}}
	{{mdl-button isFloating=true icon="backspace" class="logout-button" action="logout"}}
{{/if}}
