<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<h1 class="textcenter mdl-cell mdl-cell--8-col">Claudios Twittadd</h1>
	<div class="mdl-cell mdl-cell--2-col">
		{{#if twitter.isAuthenticated}}
			{{mdl-button isFloating=true icon="backspace" class="logout-button" action="logout"}}
		{{/if}}
	</div>

	{{#if twitter.isAuthenticated}}
		<h3 class="textcenter mdl-cell mdl-cell--12-col">Hey {{twitter.user.name}} which accounts do you want to follow?</h3>

		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--8-col">
			{{mdl-textarea label="Twitter Accounts" value=twittAccounts class="txtarea-accounts"}}
		</div>
		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="mdl-cell mdl-cell--8-col">
			{{mdl-button text="Do Magic" action="checkAccounts"}}
		</div>
		<div class="mdl-cell mdl-cell--2-col"></div>

		{{#if hasTwittAccountInfos}}
			<h3 class="textcenter mdl-cell mdl-cell--12-col">{{twittAccountInfos.length}} Profiles</h3>
			<div class="textcenter mdl-cell mdl-cell--12-col">{{mdl-button text="Add all" action="addAllProfiles"}}</div>
		{{/if}}
		{{#each twittAccountInfos as |account| }}
			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone twitter-profiles">
				{{ twitter-profile profile=account action="handleProfile"}}
			</div>
		{{/each}}




		{{outlet}}
	{{else}}
		<div class="mdl-cell mdl-cell--12-col">
			{{mdl-button text="Login with Twitter" action="authenticate"}}
		</div>
	{{/if}}
</div>





{{#if notificationMessage}}
	<div class="notification-bar-wrapper">
		<div class="notification-message">{{notificationMessage}}</div>
		{{mdl-button isFloating=true icon='clear' isMiniFab=true action='dismissNotification'}}
	</div>
{{/if}}